@import url(./basic-styles.css);

.header-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: var(--txt-orange);
}

.post-list {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
}
.posts {
  margin-bottom: 80px;
}

.post {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(47, 47, 55, 0.4);
  padding: 12px 20px;
  position: absolute;
  bottom: 0;
}

.post-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: var(--txt-white);
}

/* _______ ARTICLES _______*/

.articles {
  display: grid;
  gap: 96px;
  margin-bottom: 96px;
}

.articles-list {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 48px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.article-tytle {
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: var(--txt-black);
}

.article-txt {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--txt-black);
}

.netwoks-video-wrapper {
  display: grid;
  gap: 96px;
}

.social-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: var(--txt-black);
  margin-bottom: 24px;
}

.social-networks-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "inst fb" "yt tt" "gh tw";
  row-gap: 24px;
  column-gap: 8px;
}

.social-item {
  border-radius: 16px;
  padding: 8px;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 16px;
  align-items: center;
}

.social-instagram {
  grid-area: inst;
  background-color: var(--navy);
}

.social-youtube {
  grid-area: yt;
  background-color: var(--peach);
}

.social-github {
  grid-area: gh;
  background-color: var(--light-yellow);
}

.social-facebook {
  grid-area: fb;
  background-color: var(--pink);
}

.social-tiktok {
  grid-area: tt;
  background-color: var(--light-green);
}

.social-twitter {
  grid-area: tw;
  background-color: var(--lila);
}

.likes {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--txt-gray);
}

.video-wrapper {
  position: relative;
}

.play-btn {
  position: absolute;
  bottom: 27%;
  left: 42%;
}

@media (min-width: 768px) {
  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .post-list {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first second" "first third";
  }
  .post:first-child {
    grid-area: first;
  }
  .post:nth-child(2) {
    grid-area: second;
  }
  .post:nth-child(3) {
    grid-area: third;
  }
  .overlay {
    padding: 10px 20px;
  }
  .post-subtitle {
    font-size: 20px;
    line-height: 140%;
  }

  /* _______ ARTICLES _______*/

  .articles-list {
    grid-template-rows: repeat(4, auto);
    gap: 36px;
  }

  .article {
    grid-template-columns: 288px 1fr;
    gap: 24px;
  }

  .article-tytle {
    font-size: 20px;
    line-height: 140%;
  }
  .social-networks-list {
    gap: 24px;
  }
  .likes {
    display: grid;
    justify-content: center;
  }
}
